<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="Query3Appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/times3.txt"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss:SSSS} %p [%t] %c{1} (%F:%L) - %m%n"/>
		</layout>
	</appender>


	<appender name="Query4Appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/times4.txt"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss:SSSS} %p [%t] %c{1} (%F:%L) - %m%n"/>
		</layout>
	</appender>


	<appender name="Query2Appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/times2.txt"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss:SSSS} %p [%t] %c{1} (%F:%L) - %m%n"/>
		</layout>
	</appender>

	<appender name="Query1Appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/times1.txt"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss:SSSS} %p [%t] %c{1} (%F:%L) - %m%n"/>
		</layout>
	</appender>

	<logger name="ar.edu.itba.pod.client.Query1Client">
		<level value="INFO"/>
		<appender-ref ref="Query1Appender"/>
	</logger>

	<logger name="ar.edu.itba.pod.client.Query4Client">
		<level value="INFO"/>
		<appender-ref ref="Query4Appender"/>
	</logger>

	<logger name="ar.edu.itba.pod.client.ReincidentPlatesPerNeighbourhoodClient">
		<level value="INFO"/>
		<appender-ref ref="Query3Appender"/>
	</logger>



</log4j:configuration>